body {font-family: Arial;}

p { 
    max-width: 75em;
}

h1 { 
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    max-width: 75em;
}

h3 { 
    max-width: 75em;
}

p.thick {
  font-weight: bold;
}
.page-wrap{
    max-width: 75em;
    margin: 0 auto;
}

.tryit_output {
    background-color: #000000;
    color: #FFFFFF;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: "block";
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

